<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>58522179189-srtsnoahg41c30pb93ineh6rnd9rv2gb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.58522179189-srtsnoahg41c30pb93ineh6rnd9rv2gb</string>
	<key>API_KEY</key>
	<string>AIzaSyBZXflDfosJMU898yFle1XnjyvCSPxS3Os</string>
	<key>GCM_SENDER_ID</key>
	<string>58522179189</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chet</string>
	<key>PROJECT_ID</key>
	<string>my-chat-eb6df</string>
	<key>STORAGE_BUCKET</key>
	<string>my-chat-eb6df.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:58522179189:ios:9a0c853b1b513939108a3c</string>
</dict>
</plist>